/* importar fuentes */
@font-face {
    font-family: "symbol";
    src: url(font/websymbols-regular-webfont.ttf);
}

.Fontsymbol{
    font-family: "symbol";
}

@font-face{
    font-family: "TrebuchetMS";
    src: url(font/TrebuchetMS.ttf);
}


/* borrar estilos por defecto */
*{
    margin: 0px;
    padding: 0px;
}


.clearfix{
    float: none;
    clear: both;
}
 /* inicio estilos del header */
 header{
     background-color: #ADA29A;
     width: 100%;
     height: 82px;
     
 }
    #contenedor_desplegar{
        display: none;
        font-size: 50px;
        line-height: 70px;
        text-align: center;
        background-color: black;
        padding-top: 7px;
        padding-bottom: 7px;
        padding-left: 10px;
        padding-right: 20px;
        color: white;
        position: absolute;
        z-index: 2;
    }

    #contenedor_desplegar:hover div{
        transform: translateX(0px);
    }

    #navlateral{
        position: fixed;
        height: 110%;
        background-color: black;
        width: 40%;
        margin-top:-80px ;
        margin-left: -30px;
        z-index: 1;
        transform: translateX(-600%);
        transition: all 300ms;
    }
    #navlateral #desplegar{
        color: black;
        background-color: white;
        width: 100px;
        height: 82px;
        text-align: center ;
        
    }
    
    #navlateral #name{
        color: white;
    }
    #navlateral #name2{
        color: white;
        height: 30px;
        margin-right: 10px;
    }
    #navlateral ul{
        list-style: none;
        text-align: left;
        text-decoration: none;
        font-size: 30px;
    }

    #navlateral ul li{
        text-decoration: none;
        border-bottom: 1px dashed white;
    }


    #navlateral ul li:hover .listasecundaria{
        display: block;
        text-decoration: none;
        border-bottom: 1px dashed white;
    }

    #navlateral .listasecundaria{
        position: absolute;
        margin-top: -77px;
        margin-left: 100%;
        border: none;
    }

    #navlateral ul li a{
        text-decoration: none;
        padding-left: 30px;
        font-size: 30px;
    }

    #navlateral .listasecundaria li{
        height: 76px;
        text-align: left;
        width: 150%;
        border: none;
        border: gray solid 1px;
        line-height: 1px;
        text-align: center;
    }
    #navlateral .listasecundaria a{
        padding-left: 0px;
        margin-left:10px;
        margin-right: 10px;
        font-size: 20px;
        line-height: 76px;
        text-align: left;
        font-family: sans-serif;
    }

    #parte1{
        width: 95%;
        height: 100%;
        margin: 0px auto;
    }
        #parte1 h1{
            display: block;
            color: white;
            float: left;
            font-family: sans-serif;
            line-height: 82px;
            font-size: 35px;
            width: 33%;
            height: 55px;
            text-align: left;
            cursor: pointer;
            transition: all 300ms;
        }

        #parte1 h1:hover{
            text-shadow: 0px 0px 2px black;
            
        }

        #parte1 #busqueda{
            display: block;
            float: left;
            height: 37px;
            margin-top: 22px;
            width: 419px;  
            background-color: white;
            border-radius: 50px;
            border: 1px solid gray;
            
            }
            #busqueda input[type="text"] {
                display: block;
                height: 37px;
                width: 92%;
                text-align: center;
                font-size: 15px;
                color: rgba(0, 0, 0, .4);
                outline: none;
                border: none;
                border-radius: 50px 0px 0px 50px;

            }



            #busqueda input[type="button"]{
                display: block;
                float: right;
                width: 8%;
                height: 37px;
                margin-top: -37px;
                border-radius: 0px 19px 19px 0px;
                border: none;
                background-color: white;
                font-size: 17px;
                color: rgba(0, 0, 0, .25);
                cursor: pointer;
            }
            #parte1 #botones{
                height: 100%;
                float: right;
                width: 25%;
                line-height: 82px;
                font-family: sans-serif;
                transition: all 300ms;
            }

                #botones input[type="button"]{
                    width: 25%;
                    height: 37px;
                    margin-right: 20px;
                    border-radius: 50px;    
                    background-color: #803333;
                    border: 1px solid grey;
                    color: white;
                    font-size: 18px;
                    cursor: pointer;
                    font-family: sans-serif;
                    
                    transition: all 200ms;
                }

                #botones input[type="button"]:hover{
                    box-shadow: 0px 0px 6px black inset;
                    transition: all 300ms;
                }

    /* fin estilos de header  */

    /* inicio estilos de nav */
    #parte2{
        height: 54px;
        width: 100%;
        background-color: #803333;
        box-shadow: 0px 0px 2px gray;
    }

        #parte2>ul{
            width: 90%;
            margin: 0px auto;
            list-style: none;
            text-align: center;
            z-index: 3;
        }

        #parte2>ul>li{
            float: left;
            display: block;
            margin: 0px auto;
            margin-top: 10px;
            height: 33px;
            width: 10%;
            border-radius: 50px;
            line-height: 33px;
            background-color: black;
            color: white;
            margin-right: 3%;
            margin-left: 3%;
            cursor: pointer;
            font-family: sans-serif;
            transition: all 100ms;
        }
        #parte2>ul>li:hover{
            box-shadow: 0px 0px 4px #cac5c1 inset;
        }

        #parte2>ul>li:hover .listasecundaria{
            display:block;
            
        }
        #parte2 #down{
            margin-top: -10px;
            margin-right: 8px;
            display: inline-block;
            text-decoration: none;
            color: white;
            font-size: 15px;
            font-size: 20px;
        }
        #parte2 #name{
            display: inline-block;
            text-decoration: none;
            color: white;
            font-size: 15px;
        }

            .listasecundaria{
                display: none;
                position: relative;
                transition: all 300ms;
            }
            .listasecundaria>li{
                background-color: black;
                list-style: none;
                border-bottom: 1px solid #ADA29A;
                border-radius: 0px;
                height: 48px;
                width: 100%;
                text-align: left;
                transition: all 300ms;
            }
            .listasecundaria>li:hover{
                background-color: #803333;
            }
            .listasecundaria>li a{
                text-align: left;
                color: white;
                text-decoration: none;
                line-height: 48px;
                padding-left: 15px;
                
            }
    /* fin de estilos de nav  */

    /*INCIO CARRRUSEL*/
    .slider{
        width: 100%;
        margin: auto;
        margin-top: 54px;
        overflow: hidden;
        border: 1px solid black;
    }

    .slider ul{
        padding: 0;
        display: flex;
        width: 500%;
        animation: cambio 20s infinite alternate;
        animation-timing-function: ease-in;
    }

    .slider li{
        list-style: none;
        width: 100%;
        background: beige;
    }

   #cocinass{
        background: url(../muebleria-master/img/cocina.jpg);
        background-repeat: no-repeat;
        background-position: center;
        width: 100%;
        height: 600px;
    }

    #cuar{
        background: url(../muebleria-master/img/c.jpg);
        background-repeat: no-repeat;
        background-position:center;
        width: 100%;
        height: 600px;
    }
    #sal{
        background: url(../muebleria-master/img/sala.jpeg);
        background-repeat: no-repeat;
        background-position:center;
        width: 100%;
        height: 600px;
    }
    #estu{
        background: url(../muebleria-master/img/estufa.jpg);
        background-repeat: no-repeat;
        background-position:center;
        width: 100%;
        height: 600px;
    }
    #libre{
        background: url(../muebleria-master/img/libre.jpg);
        background-repeat: no-repeat;
        background-position:center;
        width: 100%;
        height: 600px;
    }



    
    @keyframes cambio{
        0%{
            margin-left: 0%;
        }
        15%{
            margin-left: 0%;
        }
        20%{
            margin-left: -100%;
        }
        35%{
            margin-left: -100%;
        }
        40%{
            margin-left: -200%;
        }
        55%{
            margin-left: -200%;
        }
        60%{
            margin-left: -300%;
        }
        75%{
            margin-left: -300%;
        }
        80%{
            margin-left: -400%;
        }
        100%{
            margin-left: -400%;
        }
    }

    #preci{
        width: 100%;
        display: block;
        margin-top: 490px;
        margin-left: -300px;
        text-align: end;
        font-size: 30px;
        font-family: "TrebuchetMS";
        color: #9a8966;
        letter-spacing: 2px;
        text-shadow: 2px 2px 1px black;
        cursor: pointer;
    }

    #preci:hover{
        color: #4d370d;
        transform: scale(1.2, 1.2);
    }

    #itu{
        display: block;
        margin-top: 20px;
        margin-right: 300px;
        text-align: end;
        font-size: 30px;
        font-family: "TrebuchetMS";
        color: #d47b7f;
        letter-spacing: 2px;
        text-shadow: 2px 2px 1px black;
        cursor: pointer;
    }

   ul li  #itu:hover{
        color: #cc4b52;
        transform: scale(1.2, 1.2);
    }

     .slider input[type="button"]{
         display: block;
         width: 200px;
         height: 50px;
         margin-top: -50px;
         margin-left: 50px;
         color: white ;
         background: linear-gradient(to bottom, #9a8966 0%, #3b342f 100%);
         border: 1px solid #3b342f;
         border-radius: 30px;
         cursor: pointer;
         font-size: 20px;
         font-family: "TrebuchetMS";
         text-align: center;
        }

        .slider input[type="button"]:hover{
            background: linear-gradient(to bottom, #d1a348 0%, #6b3209 100%);
            color: black;
        }
    /*FIN CARRUSEL*/

    /*TARJETAS*/
    .comedor{
        width: 46%;
        height: 850px;
        margin: 30px;
        float: left;
        border: 1px solid #efefef;
        box-shadow: 1px 1px 1px black;
    }

    #fotos{
        width: 500px;
        margin: 40px;
        margin-left: 200px;
        cursor: pointer;
    }

    #fotos:hover{
        transform: scale(1.2,1.2);
    }

    #nombre{
        font-size: 30px;
        font-family: "TrebuchetMS";
        color: gray;
        letter-spacing: 1px;
        margin-left: 30px;
        margin-top: -70px;
        text-shadow: 2px 2px 1px gray;
        cursor: pointer;
        position: relative;
    }

    #descripcion{
        font-size: 15px;
        font-family: "TrebuchetMS";
        color: gray;
        margin-left: 30px;
        margin-top: 20px;
        padding-right: 20px;
        text-align: justify;
        cursor: pointer;
        position: relative;
    }

    #descripcion:hover,
    #nombre:hover{
        color: burlywood;
    }

    #precio{
        font-size: 30px;
        font-family: "TrebuchetMS";
        color: rgb(196, 67, 67);
        margin-left: 30px;
        margin-top: 30px;
        margin-bottom: 20px;
        padding-right: 20px;
        text-align: justify;
        cursor: pointer;
    }

    #precio:hover{
        color: rgb(155, 23, 0);
    }

    .compra {
        display: block;
        width: 200px;
        height: 50px;
        margin: 40px;
        margin-left: 600px;
        color: white ;
        background: linear-gradient(to bottom, #2cbd50 0%, #1e6808 100%);
        border-radius: 30px;
        cursor: pointer;
        font-size: 20px;
        font-family: "TrebuchetMS";
        text-align: center;
         border: 1px solid rgb(1, 34, 5);
    }

    .compra:hover{
            background: linear-gradient(to bottom, #2570a1 0%, #2643c4 100%);
            color: black
    }

  



    /*FIN TARJETAS*/

    /* Estilos para footer */
    footer{
        background-color: #803333;
        height: 500px;
        width: 100%;
        margin-top: 5px;
        box-shadow: 0px 0px 2px #ccc;
    }

        .wrap{
            width: 80%;
            height: 100%;
            margin: 0px auto;
            padding: 10px;
        }

            .wrap h5{
                font-size: 25px;
                font-weight: normal;
                text-align: center;
                line-height: 40px;
                display: block;
                background-color: #ADA29A;
                color: white;
                width: 320px;
                height: 40px;
                margin: 0px auto;
                margin-bottom: 10px;
                border-radius: 5px;
  
            }

            #menufooter{
                float: left;
                width: 45%;
            }
            footer a{
                text-decoration: none;
                color: #ADA29A;
                transition: all 300ms    ;
             }
             
             footer ul{
                 text-align: left;
                 margin: 20px;
                 font-size: 25px;
             }
             footer ul li{
                 margin-top: 10px;
                 padding: 5px;
                 border-bottom: 1px solid #ccc;
             }
             
             footer ul li a{
                 text-align: left;
                 display: block;
                 height: 40px;
                 transition: all 300ms;
             }
             
             footer ul li:hover a{
                 padding-left: 40px;
                 color: white;
                 width: 100%;
             }

            
            #location{
                float: right;
                width: 45%;
            }
            #location iframe{
                height: 300px;
                width: 100%;
                margin: auto;
            }



      